* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* -------------------------------------------------- */
/* loader design */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
}
/* body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #4840bf;
} */

a {
  text-decoration: none;
}
.note-div a {
  color: #e83864;
  font-weight: 600;
}

.loader {
  color: #ed4a4e;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* style voralagas */

/* ----------------------------------------------------------------------------------------------------------------- */

/* menubar start */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Rubik", sans-serif;
  background: #7d7d7d;
}

.logo {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 22px;
  font-weight: 600;
}

.menu-list {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.menu-list li {
  list-style-type: none;
}

.menu-list li a {
  color: #fff;
  text-decoration: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin-top: 4px;
  background-color: #fff;
  transition: 0.7s ease;
}

/* tablet screen */

@media all and (max-width: 1024px) {
  .menu-list {
    width: 60%;
  }
}

/* mobile screen for burger */
@media all and (max-width: 768px) {
  .burger {
    display: block;
  }

  .menu-list {
    position: absolute;
    top: 8vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 92vh;
    justify-content: space-around;
    align-items: center;
    background: #7d7d7d;
    transform: translateX(100%);
    transition: transform 0.7s ease;
  }

  .menu-list li {
    opacity: 0;
  }

  .nav-active {
    transform: translateX(0%);
  }
}

.toggle .line1 {
  transform: rotate(45deg) translate(0px, 5px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  transform: rotate(-45deg) translate(0px, -6px);
}

@keyframes menulistfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* menubar-end */

/* -------------------------------------------------------------------------------------------------------------------- */

#ui {
  position: absolute;
  top: 10vh;
  right: 0px;
}

#iso-div {
  position: absolute;
  right: 0px;
  top: 45vh;
  color: #383636;
  font-weight: 600;
  display: none;
}
.value-display {
  position: relative;
  top: 25px;
  left: 10px;
  font-size: 14px;
  /* font-weight: 600; */
  color: #5f5a5a;
  font-family: monospace;
}

.select-iso-color {
  position: absolute;
  top: 20vh;
  right: 41px;
  /* font-weight: 600;
  padding: 9px;
  background: #7d7d7d; */
}

.select-title {
  text-transform: uppercase;
  margin: 12px;
  letter-spacing: -0.5px;
  color: #555354;
}

.select-title h4 {
  font-weight: 500;
}

.option-input-container {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  color: #f5f6fa;
  transition: 0.5s ease;
  border-radius: 5px;
}

.option-input-container .option-input {
  padding: 15px 25px;
  cursor: pointer;
}

.option-input-container .option-input:hover {
  background: #555354;
}

.option-input-container label {
  cursor: pointer;
}

#iso-color {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
}

.rangeslider {
  padding: 10px;
  transform: rotate(-90deg);
  background-image: url("../colormaps/cool-warm-paraview.png");
}

option {
  color: #383636;
}

.note-div {
  position: absolute;
  top: 10vh;
  max-width: 60%;
  padding: 20px;
  line-height: 1.5;
  color: #414141;
}
.poster-wrapper {
  position: relative;
  top: 25%;
  margin: 0 35px;
  color: white;
}

.poster-wrapper div.love {
  text-align: center;
  margin-bottom: 25px;
  color: #e52e71;
}

.main-wrapper {
  background: url("../images/PET-MIPS-anim.gif");
  height: 92vh;
  margin: 0px;
  background-size: cover;
  background-position: center;
}

.technologies {
  list-style-type: none;
  max-width: fit-content;
  background: #000090b8;
  margin: 25px;
  padding: 12px;
}

.technologies h3 {
  margin: 10px 0px;
  color: white;
}

.technologies li {
  text-align: left;
  padding: 15px;
  color: white;
}
